.buscador-body
  %form(action="/search" method="get")
    %input(type="text" name="search" id="search" value="#{params[:search]}")
    %button(type="submit")
      %span(class="glyphicon glyphicon-search")

%h1 Búsqueda de Palas
- if @palas.any?
  - if @palas.count != 1
    %p Se han encontrado <strong>#{@palas.count}</strong> resultados.
  - else
    %p Se ha encontrado <strong>1</strong> resultado.
   
  - @palas.each do |palas|
    %a{:href=>"palas/#{palas.id}"}
      .tipo-pala-catalogo
        %img{:src=>palas.enlace_imagen}
        %label #{palas.nombre}
- else
  %p No se ha encontrado ningún resultado
