%h1 Bienvenid@ a nuestro Foro de Padel
%p 
	Foro Padel es una nueva aplicación destinada a resolver todas las preguntas sobre este maravilloso deporte.

%h2 Últimas Palas añadidas
- @palas = palas.order(created_at: :desc).limit(4)
- @palas.each do |palas|
	%a{:href=>"/palas/#{palas.id}"}
		.tipo-pala-catalogo
			%img{:src=>palas.enlace_imagen}
			%label #{palas.nombre}

%h2 Últimas Palas seguidas
- @seguidas = FollowShow.order(created_at: :desc).limit(4)
- @seguidas.each do |seguida|
- palas = palas.find(seguida.palas_id)
	%a{:href=>"/palas/#{palas.id}"}
		.tipo-pala-catalogo
			%img{:src=>palas.enlace_imagen}
			%label #{palas.nombre}