%h1 Bienvenid@ a nuestro Foro de Padel
%p 
	Foro Padel es una nueva aplicación destinada a resolver todas las preguntas sobre este maravilloso deporte.

%h2 Últimas Palas añadidas
- @series = Series.order(created_at: :desc).limit(8)
- @series.each do |series|
	%a{:href=>"/series/#{series.id}"}
		.tipo-serie-catalogo
			%img{:src=>series.enlace_imagen}
			%label #{series.nombre}

%h2 Últimas Palas seguidas
- @seguidas = FollowShow.order(created_at: :desc).limit(8)
- @seguidas.each do |seguida|
- series = Series.find(seguida.series_id)
	%a{:href=>"/series/#{series.id}"}
		.tipo-serie-catalogo
			%img{:src=>series.enlace_imagen}
			%label #{series.nombre}